* {
  margin: 0;
}


/***************
    HEADER
***************/

.header-image {
  width: 100vw;
  height: 100vh;
  background: url('image/home.jpg') center no-repeat;
  background-size: cover;
}


.navigation {
  padding-top: 6.0vh;
  text-align: center;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  display: inline;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  margin: 0.4em;
  border: 0.2em solid skyblue;
  padding: 0.7em;
  background-color: rgba(0,0,0,0.1);
}

.navigation a {
   text-decoration: none;
}

li:hover {
  color: tomato;
}

/***************
  Welcome Text
***************/

.welcome {
  text-align: center;
  padding-top: 15vh;
}

.welcome h1 {
  display: inline-block;
  font-size: 2.7em;
  color: white;
  text-transform: uppercase;

}







